#name {
  color: #262626;
}
body {
  background-color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  color: #303030;
  text-align: center;
  text-justify: newspaper;
}

a {
  color: #303030;
  text-decoration: none;
}

a:hover {
  color: #55CEA2;
  text-decoration: none;
}

#dogtime {
  color: #55CEA2;
}

h2 {
  color: #777777;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin: 10 auto;
  padding: 25px;
}

#profile-pic {
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

/*ul {
  display: inline;
}*/

.movie {
  height: 150px;
}

.book {
  height: 150px;
  margin-bottom: 0px;
}

.books {
}

table {
  margin: 0 auto
}

th {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 50%;
}

#description {
  text-align: justify;
}

.book {
  height: 150px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #335146;
  width: 100px;
}

.button {
  padding-top: 50px;
  size: 100%;
  text-align: center;
}
#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
    margin-top: 50px;
    margin-bottom: 50px;
    list-style-type: none;
}

#sidebar a {
    font-size: 25px;
    margin-top: 25px;
}

#social {
  margin-right: 20px;
  margin-left: 20px;
}

.dog {
  height: 150px;
}

#table1 {
  width: 100%;
  text-align: left;
}

li {
  list-style-type: none;
}

#button1 {
  background-color: #55CEA2;
  padding:12px;
  border-radius: 25px;
  color: white;
}

#button1:hover {
  background-color: #335146;
}

#spacing {
  margin-top: 35px;
  margin-bottom: 20px;
}
